html {
  background-size: cover;
  align-items: center;
}

body {
  margin: 0;
  padding: 10px;
  flex: 1;
  min-height: 100hv;
  width: 100%;
 text-align: center;
  background: wheat;
  font-family: 'Dr Sugiyama', cursive;
  font-size: 80px;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 1.2rem solid;
  position: relative; 
  background-image: url('./cloud.png');
  background-size: cover;
  border-radius: 50%;
  margin: 100px auto;
  padding: 3rem;
  box-sizing: border-box;
  box-shadow: 
  0 0 0 4px rgba(0,0,0,0.1),
  inset 0 0 0 3px #EFEFEF,
  inset 0 0 50px black,
  0 0 10px rgba(0,0,0,0.2);

}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
  }

.hand {
    width: 50%;
    height: 5px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05sec;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);

  }


 /* h1 {
  text-align: center;
} */
